#websites{
	margin-left: 43%;
}
#first_wb{
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 10%;
}

#text_first{
	float: left;
	margin-left: 63%;
	margin-right: 0%;
	margin-top: -22%;
}


#torga_img{
	float: left;
	width: 60%;
}

#Acounts{
	float: left;
	margin-top: -11%;
	margin-left: 63%;
}

#torga_link{
	float: left;
	margin-left: 63%;
	margin-top: -6%;
}