header{
	text-align: center;
}
.links{
	margin-left: 23%;
	text-decoration:  none;
	color: violet;
}
.social{
	text-decoration: none;
	color: violet;
	line-height: 25px;
}
#title{
	text-align: center;
}
img{
	width: 100%;
	height: 100%;
}