#title-index{
	text-align: center;
	text-decoration: justify;
}
#an{
	margin-left: 2em;
	margin-right: 2em;
}
#link-1{
	float: left;
	text-decoration: none;
	color: black;
	padding-left: 2em;
}
#link-2{
	float: right;
	text-decoration: none;
	color: black;
	padding-right: 2em;
}
hr{
	margin-top: 2em;
}
#welc{
	text-align: justify;
}
