header{
	text-align: center;
}
#link_1{
	float: left;
	text-decoration: none;
	color: black;
	padding-left: 2em;
}
#link_2{
	float: right;
	text-decoration: none;
	color: black;
	padding-right: 2em;
}
.social{
	text-decoration: none;
	color: #0000ff;
}
#title{
	text-align: center;
}
#inf{
	text-align: justify;
}
img{
	width: 100%;
	height: 100%;
}
#website{
	text-decoration: none;
	color: blue;
}
hr{
	margin-top: 2em;
}
#last{
	margin-top: 0.5em;
}
#social-media{
}